ul {
  margin-left: 0;
  margin-right: 10px;
}

footer {
  display: none;
}

li {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  & + li { margin-top: 0.4em; }

          .destroy { visibility: hidden; }
  &:hover .destroy { visibility: visible; }
}

.btn.bookmark {
  margin-top: 10px;
}
